*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}

.light{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: lightseagreen;
}

.dark{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: darkslategrey;
}

.nav2{
  display: flex;
  gap: 30px;
}